body {
    background-color: white;
}

.foods {
    background-color: black;
    border: 2px solid black;
    border-radius: 16px;
    text-align: center;
    margin: 20px;
}

.apple {
    color: red;
}

.orange {
    color: orange;
}

.banana {
    color: yellowgreen;
}

.grape {
    color: purple; /* purple best color */
}

.kiwi {
    color: green;
}

.grapefruit {
    color: brown;
}

.lemon {
    color: yellow;
}

.blueberry {
    color: blue;
}

.strawberry {
    color: crimson;
}

.peanut {
    color: bisque;
}